html {
  font-size: 16px;/* 16px = 1rem */
  font-family: 'Inter', sans-serif;
}


body {
 width: 100%; 
 height: 100%; 
 background-color: rgb(185, 135, 192); 
 display: flex; 
 justify-content: center;
 } 
 canvas { 
  display: block; 
  object-fit: contain;
 }
.gialla1{
  position: fixed;
  width: 350px;  
  height: 200;
  top: -150px;    
  left:-70px;
  z-index: 100;
}
.verde1{
position: fixed;
  width:350px;  
  height: -200;
  top: -90px;    
  left:50px;
  z-index: 90;
}
.verde2{
  position: fixed;
  width: 350px;  
  height: 200;
  top: 260px;    
  left:-200px;
  z-index: 100;
}
.gialla2{
position: fixed;
  width: 350px;  
  height: 200;
  top: 370px;    
  left:20px;
  z-index: index 100;;
}
/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/*// Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 1024px) {

   html {
      font-size: 24px;
   }

  .gialla1{
  position: fixed;
  width: 700px;  
  height: 200;
  top: -300px;    
  left:-50px;
  z-index: 100;
}
.verde1{
position: fixed;
  width: 700px;  
  height: 200;
  top: 150px;    
  left:700px;
  z-index: 90;
}
.verde2{
  position: fixed;
  width: 700px;  
  height: 200;
  top: 100px;    
  left:-400px;
  z-index: 100;
}
.gialla2{
position: fixed;
  width: 700px;  
  height: 200;
  top: -400px;    
  left:900px;
  z-index: index 100;;
}
}

/*// X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/*/ XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}