html{
   font-size: 16px; /* 16px = 1rem */
   
}

#page {
    width: 100vw;
    height: 100dvh;
    background-color:hsl(240, 100%, 50%); 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    position: relative;
}

.shape{
    color: #222;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    aspect-ratio: 1/1;
    background-color: #222;
}

.square-1{
    width:100px;
    background-color:hsla(235, 83%, 47%, 0.5) ;

}

.square-2{
    width:150px;
    background-color:hsla(347, 83%, 47%, 0.5) ;

}


.square-3{
    width:200px;
    background-color:hsla(103, 83%, 47%, 0.5) ;
}

.circol-1{
    width: 100px;
    border-radius: 50%;
    background-color: hsl(271, 76%, 53%);

}

.circol-2{
    width: 150px;
    border-radius: 50%;
    background-color: hsl(122, 76%, 53%);
}
.circol-3{
    width: 100px;
    border-radius: 50%;
    background-color: hsl(201, 76%, 53%);
}

.pos-a1{
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
}

.pos-a2{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;

}

.pos-a3{
    position: absolute;
    top: -20px;
    left: 20px;
    z-index: 5;
}
.pos-a4{
    position: fixed;
    top: -20px;
    left: 20px;
    z-index: 5;
}
.pos-a4{
    position: fixed;
    top: -20px;
    left: 20px;
    z-index: 5;
}

.pos-f1{
    position: fixed;
    top: 0;
    left: 45%;
    z-index: 5;
}